### Example 1

#### Print sum of even numbers

In [1]:
def printeven(n):
    count=0
    sum=0
    while count!=n:
        if count%2==0:
            sum=sum+count
        count=count+1
    return sum

print(printeven(20))

90

### Example 2

#### Print the list of factors

In [2]:
def factorslist(n):
    i=1
    while i!=n:
        if n%i==0:
            print(i,end=" ")
        i=i+1
    return 
factorslist(12)

1 2 3 4 6

### Example of list 

* list1 = [1,2,3,4,5]
* list2 = ["Aravind","Anil","Akhil","Akash"]

In [2]:
list1 = [1,2,3,4,5,6,7]
for x in list1:
    print(x)
print(list1[3:7])
print(list1[:3])
print(list1[:7])

1
2
3
4
5
6
7
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

## For loop 
 ### Syntax
     for <variable name> in <seq>:

### Example 1

In [3]:
list2 = ["Akhil","Aravind","Anil","Akash"]
for x in list2:
    print(x,end=" ")

Akhil Aravind Anil Akash

### Example 2

In [4]:
list1 = [1,2,3,4,5,6,7]
for x in list1:
    print(x)
print(list1[1:-1])
print(list1[2:-2])
print(list1[::3])
print(list1[::-2])

1
2
3
4
5
6
7
[2, 3, 4, 5, 6]
[3, 4, 5]
[1, 4, 7]
[7, 5, 3, 1]

## List with range

In [5]:
list2 = ["Akhil","Aravind","Anil",1]
print(list2)
list2[2]=15 #updating the list item 
print(list2)
del list2[3] #deleting a list item
print(list2)
list2[1]="Gitam"
print(list2)
list3=[1,2,3]
print(list3)
print(list2+list3)#concatination of both the lines

['Akhil', 'Aravind', 'Anil', 1]
['Akhil', 'Aravind', 15, 1]
['Akhil', 'Aravind', 15]
['Akhil', 'Gitam', 15]
[1, 2, 3]
['Akhil', 'Gitam', 15, 1, 2, 3]

In [6]:
list1 = [1,2,3,4,5]
print(list1)
del list1[2]
print(list1)
list1[3] = 15
print(len(list1))#to find the len of the list
list1.append(15)
list1.append(150)
list1.append(1)
list1.append(3)
list1.append(1)
print(list1)
print(list1.count(1))
print(list1.count(3))

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 15, 15, 150, 1, 3, 1]
3
1

## List methods
### * Index(obj)
#### The index method gives the index of the object in the list

### * Remove(obj)
#### The remove method removes the passed object from the list

### * Reverse(obj)
#### the reverse option prints the reverse of the list

### Index(obj)

In [7]:
list2 = ['Akhil','Aravind','Anil',1]
print(list2)
print(list2.index("Akhil"))#Finding the index of the object in the list
print(list2.index(1))
print(len(list2))
list2.insert(2,2019)
print(list2)
print(len(list2))
list2.insert(4,2019)
print(list2)

['Akhil', 'Aravind', 'Anil', 1]
0
3
4
['Akhil', 'Aravind', 2019, 'Anil', 1]
5
['Akhil', 'Aravind', 2019, 'Anil', 2019, 1]

### Remove(obj)

In [ ]:
list2 = ['Akhil','Aravind','Anil',1]
print(list2)
list2.remove('Akhil')
print(list2)

### Reverse(obj)

In [ ]:
list2 = ['Akhil','Aravind','Anil',1]
print(list2)
list2.reverse()
print(list2)